body{
    background-color: rgb(209, 179, 236);
}
.container {    
    width: 550px;
    height: 620px;   
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    margin-left: 200px;
    font-family: sans-serif; 
    float: left;
}

h2{
    font-size: 50px;
    font-family: cursive;
    margin-left: 40px;
}

h4 {    
    font-size: 22px;
    font-family: cursive;
}

.text {
    font-family: cursive;
    font-size: 55px;
    margin-left: 40px;
    margin-top: 20px;
    color: red;
}

.text2{    
    font-family: cursive;
    font-size: 28px;
    margin-top: 45px;
    display: flex;
    text-align: justify;
}
.container2 {    
   float: left;
}
.imgEdi{
    margin-top: 100px;
    margin-left: 150px;
    width: 750px;
    height: 670px;
}




   

