.container-view{
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: rgb(209, 179, 236);    
}

.menu-lateral{
    position: fixed;
    width: 200px;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: rgb(132, 132, 173);
    border-right: 2px solid #fff;
    border-radius: 16px;
    padding-left: 53px;
    padding-top: 40px;
}    

.children-container{
    position: relative;
    width: calc(100vw-253px);
    min-height: calc(100vh-30px);
    margin-left: 283px;
    margin-right: 20px;       
}

.banner{
    margin-top: 55px;
    border-bottom: 3px solid #fff;
    margin-right: 25px;
}

.banner-name{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cta{
    font-size: 20px;
    line-height: 28px;
}

.container-link{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 15px;
}

.link-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
}

.container-inicio{
    display: flex;
    align-items: center;
    margin-right: 15px;
}

a{
    text-decoration: none;
}

.active .link-container p{
    color: #Ea4512;
}

.inactive .link-container p{
    color: black;    
}
.tittle{
    font-size: 28px;
    color: #fff;
}
.tittle p{
    font-size: 17px;
    margin-top: 0;
    margin-left: 6px;
}

  
  