.container-nuevo-desarrollo{
    padding: 15px;
}

.container-input-desarrollo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
    height: 45px;
}